SUPABASE_URL=https://uhffohgsmzridevncwlw.supabase.co
# SUPABASE_SERVICE_KEY=sb_publishable_g6-RkPCeb6ihdVkEKxBoZA_qjztLp7t
SUPABASE_SERVICE_KEY=sb_secret_opt3N-phXH1H22Lhgm4KQA_boDAE5QY
ADMIN_PASSWORD=bcn5